body, html {
  margin: 0;
  font: caption;
  height: 100vh;
}
#gjs {
  height: auto;
  width: auto;
  max-width: calc(100vw - 460px);
  min-height: calc(100vh - 242px);
  max-height: calc(100vh - 242px);
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.gjs-block{
  width: 75px !important;
  height: 60px !important;
}
.gjs-blocks-cs{
  height: 100%;
  overflow-y:auto;
}

#navbar{
  height: 42px;
}

#main{
  background-color: #333;
  display: flex;
  height: auto;
  max-height: calc(100vh - 242px);
  overflow: hidden;
}

#blocks{
  height: 200px;
}

#right{
  overflow-y: auto;
  width: 242px;
  height: auto;
}

#left{
  overflow-y: auto;
  width: 240px;
  height: auto;
}

#code{
  display: inline;
}

#design{
  display: inline;
}